<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>ready to work.</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/events.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">
		<div class="row">
			<div class="col mb-3">
				<a href="/{{userID}}/teamlist/{{currTeam.teamID}}/" id="backIcon"><i class="fa fa-caret-left" id="backArrow"></i></a>
				<p id="teamName">{{currTeam.teamName}} events</p> 
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card" id="addMenu">
					<div class="card-header font-bold pointer" id="addButton">create new event</div>
					<div class="card-body" id="addEventForm">
						<form role="form" method="get" action="/{{userID}}/teamlist/{{currTeam.teamID}}/events/add">
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="event title" name="title">
						    </div>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="description" name="description">
						    </div>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="location" name="location">
						    </div>
						    <label class="form-control-label">start date and time:</label>
						    <div class="form-group">
						      <input type="date" class="form-control" placeholder="start date" name="startDate">
						    </div>
						    <div class="form-group">
						      <input type="time" class="form-control" placeholder="start time" name="startTime">
						    </div>
						    <label class="form-control-label">end date and time:</label>
						    <div class="form-group">
						      <input type="date" class="form-control" placeholder="end date" name="endDate">
						    </div>
						    <div class="form-group">
						      <input type="time" class="form-control" placeholder="end time" name="endTime">
						    </div>
						    <input type="submit" id="submitBtn" class="btn btn-block" value="create"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{#each currTeam.events}}
				<div class="card event-card">
					<!-- this makes the title a link that pops the modal -->
					<a href="#{{title}}Edit" data-toggle="modal" data-target="#{{title}}Edit" class="modal-link"> 
						<p class="card-header"><i class="far fa-edit mr-3" id="editBtn"></i>{{title}}</p> 
					</a>
					<div class="card-body">
						{{#if startDate}}
						<p><span class="font-bold">start: </span>{{startDate}}{{#if startTime}}, {{startTime}}{{/if}}</p>
						{{/if}}
						{{#if endDate}}
						<p><span class="font-bold">end: </span>{{endDate}}{{#if endTime}}, {{endTime}}{{/if}}</p>
						{{/if}}
						{{#if location}}
						<p><span class="font-bold">location: </span>{{location}}</p>
						{{/if}}
						{{#if description}}
						<p class="font-italic">{{description}}</p>
						{{/if}}
						<!-- {{#if goingNames}}
						<p><span class="font-bold">going:</span>{{#each goingNames}}<br/>{{this}}{{/each}}</p>
						{{/if}} -->
					</div>
				</div>
				{{/each}}
				
				<!-- Modal popup form -->
				{{#each currTeam.events}}
				<div class="modal fade" id="{{title}}Edit" tabindex="-1" role="dialog"  aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button class="modal-close align-middle float-right" type="button" data-dismiss="modal" aria-label="close"><span class="fa fa-times"></span></button>
								<p class="modal-title font-bold float-left" id="exampleModalLabel">edit "{{title}}"</p>
							</div>
							<div class="modal-body">
								<form role="form" method="get" action="/{{../userID}}/teamlist/{{../currTeam.teamID}}/events/edit">
								    <div class="form-group">
								    	<label for="title" class="form-control-label">title:</label>
								      	<input type="text" class="form-control" placeholder="title" value="{{title}}" name="title">
								    </div>
								    <div class="form-group">
								    	<label for="description" class="form-control-label">description:</label>
								      	<input type="text" class="form-control" placeholder="description" value="{{description}}" name="description">
								    </div>
								    <div class="form-group">
								    	<label for="location" class="form-control-label">location:</label>
								      	<input type="text" class="form-control" placeholder="location" value="{{location}}" name="location">
								    </div>
								    <div class="form-group">
								      	<label for="startDate" class="form-control-label">start date:</label>
								      	<input type="date" class="form-control" placeholder="start date" value="{{startDate}}" name="startDate">
								    </div>
								    <div class="form-group">
								      	<label for="startTime" class="form-control-label">start time:</label>
								      	<input type="time" class="form-control" placeholder="start time" value="{{startTime}}" name="startTime">
								    </div>
								    <div class="form-group">
								      	<label for="endDate" class="form-control-label">end date:</label>
								      	<input type="date" class="form-control" placeholder="end date" value="{{endDate}}" name="endDate">
								    </div>
								    <div class="form-group">
								      	<label for="endTime" class="form-control-label">end time:</label>
								      	<input type="time" class="form-control" placeholder="end time" value="{{endTime}}" name="endTime">
								    </div>
								    <div class="form-group">
								    	<input type="hidden" class="form-control" name="id" value="{{id}}">
								    </div>
								    <input type="submit" id="submitBtn" class="btn btn-block font-bold" value="submit change"></input>
								</form>

								<button class="align-middle float-right" type="button" id="trashBtn"><i class="fa fa-trash"></i></button>
							</div>
						</div>
					</div>		
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div style="display:  none;">
		<input type="hidden" id="currTeamId" value="{{currTeam.teamID}}">
		<input type="hidden" id="currUserId" value="{{userID}}">
	</div>

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/events.js"></script>

</body>

</html>