<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>ready to work.</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/home.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<!-- Page -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card-box" id="alert-box">
					<p class="card-header font-italic">alerts for {{currUser.firstName}}</p>
					<div class="card-block">
						<div class="pre-scrollable">
							{{#each currInvites}}
							<div class="item">
								<div class="item-title">invitation from: <span class="font-bold">{{teamName}}</span></div>
								<div class="row">
									<div class="col">
										<a type="button" class="menu-item btn btn-primary btn-lg btn-block" id="acceptBtn" href="/{{../userID}}/accept/{{teamID}}">accept</a>
									</div>
									<div class="col">
										<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/{{../userID}}/reject/{{teamID}}">reject</a>
									</div>
								</div>
							</div>
							{{/each}}
							{{#each currEvents}}
							<div class="item">
								<div class="item-title"><span class="font-bold">{{teamName}}:</span> {{title}}</div>
								<div class="item-info font-italic">on {{startDate}}, {{startTime}} at {{location}}</div>
							</div>
							{{/each}}
							{{#each currTasks}}
							<div class="item">
								<div class="item-title"><span class="font-bold">{{teamName}}:</span> {{title}}</div>
								<div class="item-info font-italic">due {{dueDate}}, {{dueTime}} with priority {{priority}}</div>
							</div>
							{{/each}}
							{{#unless currEvents}} {{#unless currTasks}}
								<div class="item">
									<div class="item-info font-italic text-center">Looks like you have no alerts. Be free!</div>
								</div>
							{{/unless}} {{/unless}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/{{userID}}/teamlist">teams</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/{{userID}}/profile">profile</a>
		<a type="button" class="menu-item btn btn-primary btn-lg btn-block" href="/{{userID}}/settings">settings</a>
	</div>

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/home.js"></script>
</body>

</html>