<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/index.css">

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="d-inline-block mx-auto">
				<h1 class="font-bold title">ready</h1>
				<h1 class="font-bold title">to</h1>
				<h1 class="font-bold title">work.</h1>
				{{#if signup}}
				<form class="login mt-1 form" method="get" action="/signupcomplete">
					<div class="form-group">
						<input type="text" placeholder="email" name="email" value="{{email}}" class="form-box">
					</div>
					<div class="form-group">
						<input type="password" placeholder="password" name="password" class="form-box">
					</div>
					<div class="form-group">
						<input type="password" placeholder="confirm password" name="confirmPassword" class="form-box">
					</div>
					<div class="form-group">
						<input type="text" placeholder="first name" name="firstName" value="{{firstName}}" class="form-box">
					</div>
					<div class="form-group">
						<input type="text" placeholder="last name" name="lastName" value="{{lastName}}" class="form-box">
					</div>
					<input type="submit" value="sign up" class="btn-block font-bold" id="signup-button"/>
					{{#if emptyField}}
					<div id="error" class="font-italic text-center mt-1">all fields must be filled</div>
					{{/if}}
					{{#if emailTaken}}
					<div id="error" class="font-italic text-center mt-1">this email is taken</div>
					{{/if}}
					{{#if invalidEmail}}
					<div id="error" class="font-italic text-center mt-1">this email is not valid</div>
					{{/if}}
					{{#if mismatchPassword}}
					<div id="error" class="font-italic text-center mt-1">passwords do not match</div>
					{{/if}}
				</form>
			</div>
		</div>

		{{else}}
				<form class="login mt-1 form" method="get" action="/login">
					<div class="form-group">
						<input type="text" placeholder="email" name="email" value="{{email}}" class="form-box">
					</div>
					<div class="form-group">
						<input type="password" placeholder="password" name="password" class="form-box">
					</div>
					<input type="submit" value="login" class="btn-block font-bold" id="login-button"/>
					<input type="button" value="sign up" class="btn-block" id="signup-button"/>
					{{#if loginIncorrect}}
					<div id="error" class="font-italic text-center mt-1">incorrect login, try again</div>
					{{/if}}
				</form>
			</div>
		</div>

		<div class="row">
			<div class="d-inline-block mx-auto mt-4 font-italic">
				<a href="/3/home">
					<h3>dev login</h3>
				</a>
			</div>
		</div>
		{{/if}}
	</div>
	
	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/index.js"></script>
</body>

</html>