<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/tasks.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">
		<div class="row">
			<div class="col">
				<p id="teamName">{{currTeam.teamName}} tasks</p> 
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card" id="addMenu">
					<div class="card-header font-bold pointer" id="addButton">create new task</div>
					<div class="card-body" id="addTaskForm">
						<form role="form" method="get" id="createTaskForm" action="/{{userID}}/teamlist/{{currTeam.teamID}}/tasks/add">
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="task title" name="title">
						    </div>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="description" name="description">
						    </div>
						    <!--
						    <div class="form-group">
						      <input type="text" class="form-control datepicker" placeholder="due date" name="dueDate">
						    </div> 
							<div class="form-group">
						      <input type="text" class="form-control timepicker" placeholder="due time" name="dueTime">
						    </div>
							-->
							<label class="form-control-label">due date and time:</label>
						    <div class="form-group">
						      <input type="date" class="form-control" value="2018-04-20" name="dueDate">
						    </div>
						    <div class="form-group">
						      <input type="time" class="form-control" value="04:20:00" name="dueTime">
						    </div>
						    <div class="form-group">
						    	<label class="form-control-label">priority:</label><br/>
							    <select name="priority" form="createTaskForm">
							    	<option>1</option>
							    	<option>2</option>
							    	<option>3</option>
							    	<option>4</option>
							    	<option>5</option>
							    </select>
						    </div>
						    <input type="submit" id="submitBtn" class="btn btn-block" value="create"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{#each currTeam.tasks}}
				<div class="card task-card">
					<!-- this makes the title a link that pops the modal -->
					<a href="#{{title}}Edit" data-toggle="modal" data-target="#{{title}}Edit" class="modal-link"> 
						<p class="card-header">{{title}}</p> 
					</a>
					<div class="card-body">
						{{#if priority}}
						<p><span class="font-bold">priority: </span>{{priority}}</p>
						{{/if}}
						{{#if dueDate}}
						<p><span class="font-bold">due: </span>{{dueDate}}{{#if dueTime}}, {{dueTime}}{{/if}}</p>
						{{/if}}
						{{#if description}}
						<p class="font-italic">{{description}}</p>
						{{/if}}
						<!-- {{#if assignedNames}}
						<p><span class="font-bold">assigned to:</span>{{#each assignedNames}}<br/>{{this}}{{/each}}</p>
						{{/if}} -->
					</div>
				</div>
				{{/each}}
				
				<!-- Modal popup form -->
				{{#each currTeam.tasks}}
				<div class="modal fade" id="{{title}}Edit" tabindex="-1" role="dialog"  aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button class="modal-close align-middle" type="button" data-dismiss="modal" aria-label="close"><span class="fa fa-times"></span></button>
								<h4 class="modal-title font-bold" id="exampleModalLabel">edit "{{title}}"</h4>
							</div>
							<div class="modal-body">
								<form role="form" method="get" id="{{title}}form" action="/{{../userID}}/teamlist/{{../currTeam.teamID}}/tasks/edit">
								    <div class="form-group">
								    	<label for="title" class="form-control-label">title:</label>
								      	<input type="text" class="form-control" placeholder="title" value="{{title}}" name="title">
								    </div>
								    <div class="form-group">
								    	<label class="form-control-label">description:</label>
								      	<input type="text" class="form-control" placeholder="description" value="{{description}}" name="description">
								    </div>
								    <div class="form-group">
								      	<label class="form-control-label">due date:</label>
								      	<input type="date" class="form-control" placeholder="due date" value="{{dueDate}}" name="dueDate">
								    </div>
								    <div class="form-group">
								      	<label class="form-control-label">due time:</label>
								      	<input type="time" class="form-control" placeholder="due time" value="{{dueTime}}" name="dueTime">
								    </div>
								    <div class="form-group">
								    	<label class="form-control-label">priority:</label><br/>
								      	<select name="priority" form="{{title}}form">
									    	<option>1</option>
									    	<option>2</option>
									    	<option>3</option>
									    	<option>4</option>
									    	<option>5</option>
									    </select>
								    </div>
								    <div class="form-group">
								    	<input type="hidden" class="form-control" name="id" value="{{id}}">
								    </div>
								    <input type="submit" id="submitBtn" class="btn-block" value="submit change"></input>

								    <button class="float-left" type="button" id="doneBtn"><i class="far fa-check-square"></i></button>
									<button class="float-right" type="button" id="trashBtn"><i class="fa fa-trash"></i></button>
								</form>
							</div>
						</div>
					</div>		
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div style="display:  none;">
		<input type="hidden" id="currTeamId" value="{{currTeam.teamID}}">
		<input type="hidden" id="currUserId" value="{{userID}}">
	</div>

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/tasks.js"></script>

</body>

</html>