<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600">
	<link rel="stylesheet" href="/css/teamlist.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">
		<div class="row">
			<div class="col">
				{{#each teams}}
				<div class="card card-box" id="team-box">
					<!-- should be a link to specific team but not gonna dynamically make it yet -->
					<a href="/teamlist/team">
						<h2 class="card-header font-bold">{{teamName}}</h2>
					</a> 
					<div class="card-block">
						<div class="item">
							<div class="item-title">Team Memebers</div>
							<div class="item-info font-italic">
								<h5>
								{{#each members}}
								{{name}}
								{{/each}}
								</h5>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Upcoming Tasks</div>
							<div class="item-info">
								{{#each tasks}}
								<h4>Title: {{title}}</h5>
								<h4>Owner: {{assigned}}</h5>
								<h5>Priority: {{priority}}</h5>
								<h6>Description: {{description}}</h6>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}

				<!--
				<h1>This is the list of teams.</h1>
				<a href="/teamlist/team">
					<h4>Example Team</h4>
				</a>
				<a href="/teamlist/team">
					<h4>Example Team</h4>
				</a>
				<a href="/teamlist/team">
					<h4>Example Team</h4>
				</a>
				-->

				<hr>
				<a href="/home">
					<h4>Back</h4>
				</a>
				<a href="/">
					<h4>Logout</h4>
				</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	{{> footer}}

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>