<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600">
	<link rel="stylesheet" href="/css/teamlist.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">
		<div>
			<button type="button" class="btn btn-danger btn-lg fixed-but" id="addButton">Create Teams</button>
		</div>
		<div class="row">
			<div class="col-sm-3 col-centered hidden">
				<form id="addTeamForm" role="form" method="get" action="/teamlist/add">
					<h3>Add your team</h3>
				    <div class="form-group">
				      <label for="name">Name:</label>
				      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
				    </div>
				    <div class="form-group">
				      <label for="description">Description:</label>
				      <input type="text" class="form-control" id="task" placeholder="Tell me about your team" name="description">		      
				    </div>
				    <!--
				    <div class="form-group">
					    <input type="text" class="form-control" id="priority" placeholder="priority" name="priority">
					    <input type="text" class="form-control" id="description" placeholder="description" name="description">
					    <input type="text" class="form-control" id="assigned" placeholder="assigned memeber" name="assigned">					    
					</div>
					-->
				    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{#each teams.teamlist}}
				<div class="card card-box" id="team-box">
					<!-- should be a link to specific team but not gonna dynamically make it yet -->
					<a href="/teamlist/team/{{teamID}}">
						<h2 class="card-header font-bold">{{teamName}}</h2>
					</a> 
					<div class="card-block">
						<div class="item">
							<div class="item-title">About Us</div>
							<div class="item-info font-italic">
								<h4>
								{{description}}
								</h4>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Team Members</div>
							<div class="item-info font-italic">
								<h5>
								{{#each members}}
								{{name}}
								{{/each}}
								</h5>
							</div>
						</div>
						<div class="item">
							<div class="item-title">Upcoming Tasks</div>
							<div class="item-info">
								{{#each tasks}}
								<h4>Title: {{title}}</h5>
								<h4>Owner: {{assigned}}</h5>
								<h5>Priority: {{priority}}</h5>
								<h6>Description: {{description}}</h6>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	{{> footer}}

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="/js/teamlist.js"></script>

</body>

</html>