<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/teamlist.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<!-- create team button -->
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="card" id="addMenu">
					<div class="card-header font-bold pointer" id="addButton">create new team</div>
					<div class="card-body" id="addTeamForm">
						<form role="form" method="get" action="/{{userID}}/teamlist/add">
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="team name" name="name">
						    </div>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="team description" name="description">
						    </div>
						    <input type="submit" id="submitBtn" class="btn btn-block" value="create"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{#each teamlist}}
				<div class="card card-box" id="team-box">
					<a href="/{{../userID}}/teamlist/{{teamID}}/page_A">
						<p class="card-header">{{teamName}}<i class="fa fa-caret-right float-right" id="arrowIcon"></i></p>
					</a> 
					<div class="card-block">
						<div class="item">
							<div class="item-title">about us</div>
							<div class="item-info">
								<p>{{description}}</p>
							</div>
						</div>
						<div class="item">
							<div class="item-title mb-1">team members</div>
							<div class="item-info">
								{{#each members}}
								<p>{{firstName}} {{lastName}} <span class="font-italic">({{role}})</span></p>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>	

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/teamlist.js"></script>
</body>

</html>