<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ready to Work is an application made for COGS 120 at UCSD.">
    <meta name="author" content="Alina Chin, Timothy Bian, Zi Long Pan">
    <link rel="icon" type="image/ico" href="favicon.ico">

	<title>Ready to Work</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/team.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<!-- Page -->
	<div class="container">
		<div class="row">
			<div class="col">
				<p id="teamName">{{currTeam.teamName}}</p> 
			</div>
		</div>

		<!-- TODO
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
					      <li class="nav-item" >
					        <a class="nav-link active">Events</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link">Tasks</a>
					      </li>
					    </ul>
					</div>
					<div class="card-body">
						<div id="eventsBody">
							<p>Test Events</p>
						</div>
						<div id="tasksBody">
							<p>Test Tasks</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->

		<!-- Replace with actual team management later -->
		<div class="row">
			<div class="col">
				<div class="card" id="addMenu">
					<div class="card-header font-bold" id="addButton">invite user</div>
					<div class="card-body" id="addTaskForm">
						<form role="form" method="get" action="/{{userID}}/teamlist/{{currTeam.teamID}}/invite">
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="user email" name="email">
						    </div>
						    <input type="submit" id="submitBtn" class="btn-block" value="invite"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card card-box" id="calendar-box">
					<a href="/{{userID}}/teamlist/{{currTeam.teamID}}/calendar">
						<h2 class="card-header">Team Calendar</h2>
					</a>
					<div class="card-block">
						{{#each currTeam.events}}
						<div class="item">
							<div class="item-title">{{title}}</div>
							<div class="item-info"><span class="font-bold">starts:</span> {{startDate}}, {{startTime}}</div>
							<div class="item-info"><span class="font-bold">ends:</span> {{endDate}}, {{endTime}}</div>
							<div class="item-info"><span class="font-bold">location:</span> {{location}}</div>
							<div class="item-info"><span class="font-bold">description:</span> {{description}}</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card card-box" id="task-box">
					<a href="/{{userID}}/teamlist/{{currTeam.teamID}}/tasks">
						<h2 class="card-header">Team Tasks</h2>
					</a>
					<div class="card-block">
						{{#each currTeam.tasks}}
						<div class="item">
							<div class="item-title">{{title}}</div>
							<div class="item-info"><span class="font-bold">description:</span> {{description}}</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/team.js"></script>
</body>

</html>