<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>ready to work.</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/teamlist.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<div class="container">

		<div class="row">
			<div class="col mb-3">
				<a href="/" id="backIcon"><i class="fa fa-caret-left" id="backArrow"></i></a>
				<p id="name">teams</p> 
			</div>
		</div>

		<!-- create team button -->
		<div class="row">
			<div class="col">
				<div class="card" id="addMenu">
					<div class="card-header font-bold pointer" id="addButton">create new team</div>
					<div class="card-body" id="addTeamForm">
						<form role="form" method="get" action="/teamlist/add">
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="team name" name="name">
						    </div>
						    <div class="form-group">
						      <input type="text" class="form-control" placeholder="team description" name="description">
						    </div>
						    <input type="submit" id="submitBtn" class="btn btn-block" value="create"></input>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				{{#each teamlist}}
				<div class="card card-box" id="team-box">
					<a href="/teamlist/{{teamID}}/">
						<div class="card-header" id="teamName">{{teamName}}</div>
						<div id="nextIcon"><i class="fa fa-caret-right" id="nextArrow"></i></div>
					</a> 
					<div class="card-block">
						<div class="item">
							<div class="item-title">about us</div>
							<div class="item-info">
								<p>{{description}}</p>
							</div>
						</div>
						<div class="item">
							<div class="item-title mb-1">team admins</div>
							<div class="item-info">
								{{#each members}}
								{{#if isAdmin}}<p>{{firstName}} {{lastName}}</p>{{/if}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>	

	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/teamlist.js"></script>
</body>

</html>