<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}

	<title>ready to work.</title>

	<!-- Stylesheets -->
	{{> bootstrapCSS}}
	<link rel="stylesheet" href="/css/team.css">
</head>

<body>
	<!-- Navbar -->
	{{> navbar}}

	<!-- Page -->
	<div class="container">
		<div class="row">
			<div class="col mb-3">
				<a href="/teamlist" id="backIcon"><i class="fa fa-caret-left" id="backArrow"></i></a>
				<p id="teamName">{{currTeam.teamName}}</p> 
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card" id="teamCard">
					<div class="card-header" id="navHeader"> 
						<ul class="nav nav-fill nav-tabs card-header-tabs"  id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link mr-2 active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true">events</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mr-2" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false">tasks</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">members</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
								<a type="button" class="menu-item btn btn-primary btn-lg btn-block font-bold" id="eventsButton" href="/teamlist/{{currTeam.teamID}}/events">manage events</a>
								{{#each currTeam.events}}
								<div class="item">
									<div class="item-title">{{title}}</div>
									<div class="item-info font-italic">{{description}}</div>
								</div>
								{{/each}}
								{{#unless currTeam.events}}
								<div class="item">
									<div class="item-info font-italic text-center">Looks like you have no events. Be free!</div>
								</div>
								{{/unless}}
							</div>
							<div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
								<a type="button" class="menu-item btn btn-primary btn-lg btn-block font-bold" id="tasksButton" href="/teamlist/{{currTeam.teamID}}/tasks">manage tasks</a>
								{{#each currTeam.tasks}}
								<div class="item">
									<div class="item-title">{{title}}</div>
									<div class="item-info font-italic">{{description}}</div>
								</div>
								{{/each}}
								{{#unless currTeam.tasks}}
								<div class="item">
									<div class="item-info font-italic text-center">Looks like you have no tasks. Be free!</div>
								</div>
								{{/unless}}
							</div>
							<div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
								<div class="card" id="addMenu">
									<div class="card-header text-center pointer font-bold" id="inviteButton">invite user</div>
									<div class="card-body" id="inviteUserForm">
										<form role="form" method="get" action="/teamlist/{{currTeam.teamID}}/invite">
										    <div class="form-group">
										      <input type="text" class="form-control" placeholder="user email" name="email">
										    </div>
										    <input type="submit" id="submitBtn" class="btn btn-block" value="invite"></input>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Scripts -->
	{{> bootstrapJS}}
	<script src="/js/main.js"></script>
	<script src="/js/team.js"></script>
</body>

</html>